@keyframes overlayshow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentshow {
  0% {
    opacity: 0;
    transform: translateY(5%) scale(0.96);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.overlay {
  background-color: hsl(var(--gray-12-hsl) / 50%);
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  animation: overlayshow 150ms ease-in-out forwards;
}

.content {
  background-color: var(--gray-0);
  animation: contentshow 150ms ease-in-out forwards;
  border-radius: var(--radius-2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--size-3);
  font-family: var(--font-sans);
  padding: var(--size-2) var(--size-3);
  position: relative;
  width: 30%;
  min-height: 150px;
  @media screen and (max-width: 768px) {
    width: 80%;
  }
}
