.card {
  border-radius: var(--radius-2);
  padding: var(--size-fluid-3);
  box-shadow: var(--shadow-3);
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  max-width: 500px;
  margin: 0 auto;
}
